
@{
    ViewBag.Title = "WaitForConfirmation";
}

<h3>Wait for Confirmation</h3>
<p>Please visit your email to confirm your profile and to set your password.</p>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}